
/*错误页面样式*/
.error-container-fluid {
    padding-top: 5px;
    top: 0px;
}

.error-pagebox {
    width: 350px;
    margin: 0 auto;
    padding-top:10%;
}

.error-font—l {
    font-size: 80px;
}

.error-font-i {
    font-size: 30px;
}