<#include "/base.html"/>
<link rel="stylesheet" href="${ctx}/static/plugins/ztree/css/zTreeStyle.css">
<@layout>
<style>
.center-vertical {
	position:relative;
	top:50%;
	transform:translateY(-50%);
}
.list-div {
	height:255px;
	padding:0;
}
.list-ul {
	list-style-type:none;
	padding:0;
}
.list-ul li {
	padding:5px 15px;
}
.list-ul .act {
	background-color: #ddd;
}
.my_dialog {
	display: none;
	width: 90%;
	margin-top:20px;
}
.menuContent{
	position: absolute;
	height:100px;
	z-index:99999999;
	border: 1px solid #617775;
    background: #f0f6e4;
    overflow-y: scroll;
    overflow-x: auto;
}
</style>

<section class="content-header bg-currency">
	<ol class="breadcrumb pull-left"><li>用户管理</li></ol>
	<form class="navbar-form pull-left" role="search" id="searchForm">
		<div class="form-group">
			<label for="name_or_account">用户名称/账号:</label>
			<input type="text" class="form-control" id="sch_LIKE_account" name="sch_LIKE_account">
		</div>
		<div class="form-group">
			<label for="is_valid">是否启用:</label>
			<select id="sch_EQ_status" name="sch_EQ_status" class="form-control">
				<option value="">全部</option>
				<option value="1">启用</option>
				<option value="0">禁用</option>
			</select>
		</div>&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="javascript:N.Util.reloadData('page_table');" class="btn btn-success btn-sm">查询</a>&nbsp;&nbsp;
		<a href="javascript:user.addDialog();" class="btn btn-success btn-sm">添加</a>&nbsp;&nbsp;
		<a href="javascript:user.exp();" class="btn btn-success btn-sm">导出</a>&nbsp;&nbsp;
	</form>
</section>
<section class="content-fluid">
	<table id="page_table" class="table table-striped table-bordered dt-responsive nowrap bg-currency"  width="100%">
		<thead>
			<tr>
				<th>ID</th>
				<th>账号</th>
				<th>姓名</th>
				<th>状态</th>
				<th>类型</th>
				<th>邮箱</th>
				<th>手机</th>
				<th>备注</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
</section>

<div id="userDlg" class="my_dialog">
	<form id="userForm" class="form-horizontal" role="form">
		<input type="hidden" id="op" name="op" value="add"/>
		<input type="hidden" id="userId" name="id" />
		<div class="form-group">
			<label for="account" class="col-sm-2 control-label">账号：</label>
			<div class="col-md-4">
				<input type="text" class="form-control" id="account" name="account"
					placeholder="请输入登陆账号" data-vali="numletter" maxlength="20">
			</div>
			<label for="password" class="col-sm-2 control-label">密码：</label>
			<div class="col-md-4">
				<input type="password" value="000000" class="form-control" maxlength="20"
					id="password" name="password" placeholder="请输入密码" data-vali="numletter">
			</div>
		</div>
		<div class="form-group">
			<label for="name" class="col-sm-2 control-label">姓名：</label>
			<div class="col-md-4">
				<input type="text" class="form-control" id="name" name="name"
					placeholder="请输入姓名" data-vali="required" maxlength="20">
			</div>
			<label for="sex" class="col-sm-2 control-label" id=sex >性别：</label>
			<div class="col-md-4">
				<div class="checkbox" style="padding-top: 1px;">
					<label class="checkbox-inline">
						<input type="radio" name="sex" value="男" checked>男
					</label>
					<label class="checkbox-inline">
						<input type="radio" name="sex" value="女">女
					</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="status" class="col-sm-2 control-label" id="status">状态：</label>
			<div class="col-md-4">
				<div class="checkbox" style="padding-top: 1px;">
					<label class="checkbox-inline">
						<input type="radio" name="status" value="1" checked="checked" />启用</label>
					<label class="checkbox-inline">
						<input type="radio" name="status" value="0" data-vali="required">禁用
					</label>
				</div>
			</div>
			<label for="type" class="col-sm-2 control-label">类型：</label>
			<div class="col-md-4">
				<input type="text" class="form-control" id="type" name="type" data-vali="required">
			</div>
		</div>
		<div class="form-group">
			<label for="email" class="col-sm-2 control-label">邮箱：</label>
			<div class="col-md-4">
				<input type="text" class="form-control" id="email" name="email"
					placeholder="example@example.com" maxlength="20">
			</div>
			<label for="mobile" class="col-sm-2 control-label">手机：</label>
			<div class="col-md-4">
				<input type="text" class="form-control" id="mobile" name="mobile"
					placeholder="请输入手机" data-vali="onlynum" maxlength="11">
			</div>
		</div>
		<div class="form-group">
			<label for="city" class="col-sm-2 control-label">城市：</label>
			<div class="col-md-4">
				<input id="city" name="city" type="hidden"/>
				<input id="citySel" type="text" readonly value=""
				style="width:200px;height: 34px; padding: 6px 12px;font-size: 14px;
				color: #555;background-color: #fff;background-image: none;border: 1px solid #ccc;border-radius: 4px;" data-vali="required"/>
				<a id="menuBtn" href="#" onclick="user.showCity(); return false;">&nbsp;选择</a>
				<div id="menuContent" class="menuContent" style="display:none;">
					<ul id="cityTree" class="ztree" style="margin-top:0; width:180px;"></ul>
				</div>
			</div>
			<label for="skin" class="col-sm-2 control-label">界面皮肤：</label>
			<div class="col-md-4">
				<select class="form-control" id="skin" name="skin">
					<option value="blue">蓝色</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="remark" class="col-sm-2 control-label">备注：</label>
			<div class="col-sm-10">
				<textarea class="form-control" rows="2" id="remark" name="remark" maxlength="100"></textarea>
			</div>
		</div>
	</form>
</div>

<!-- 弹出层  - 关联 -->
<div id="relateDlg" class='center-block my_dialog' style="display: none; width: 93%;">
	<form class="form-horizontal" role="form" id="relateForm">
		<input type="hidden" id="relate_uid" name="user_id"/>
		<div class="row">
			<div class="col-md-5">
				<div class="panel panel-default">
					<div class="panel-heading">
				        <div class="panel-title">已关联角色</div>
				    </div>
				    <div class="panel-body pre-scrollable list-div">
				    	<ul class="list-ul" id="chos" data-type="chos">
				    	</ul>
				    </div>
				</div>
			</div>
			<div class="col-md-2  text-center" style="height:300px;">
				<div class="btn-group-vertical center-vertical">
					<a class="btn btn-default chooseBtn" onclick="user.relateChoose('unchos')">
						<i class="fa fa-arrow-right fa-fw" aria-hidden="true"></i>
					</a>
					<a class="btn btn-default chooseBtn" onclick="user.relateChoose('chos')">
						<i class="fa fa-arrow-left fa-fw" aria-hidden="true"></i>
					</a>
				</div>
			</div>
			<div class="col-md-5">
				<div class="panel panel-default">
					<div class="panel-heading">
				        <div class="panel-title">未关联角色</div>
				    </div>
				    <div class="panel-body pre-scrollable list-div">
				    	<ul class="list-ul" id="unchos" data-type="unchos">
				    	</ul>
				    </div>
				</div>
			</div>
		</div>
	</form>
</div>
</@layout>
<script src="${ctx}/static/plugins/ztree/js/jquery.ztree.all.min.js"></script>
<script src="static/js/user.js"></script>
