<#include "/base.html"/>
<@layout>
<link rel="stylesheet" href="static/css/public.css">
<div class="container-fluid error-container-fluid">
    <div class="error-pagebox">
        <p class="text-danger text-center">
            <span class="error-font—l"><i class="fa  fa-paper-plane-o"></i> 404</span><br/>
            <span class="error-font-i">页面找不到</span></p>
        <p class="link-black text-center">您访问的暂时页面找不到有可能连接错误或者网络问题建议您检查一下再试</p>
        <p class=" text-center"><a class="btn btn-warning" href="javascript:history.go(-1);">返回上一页</a></p>
    </div>

</div>
</@layout>