<#include "/base.html"/>
<@layout>
<link rel="stylesheet" href="static/css/public.css">
<div class="container-fluid error-container-fluid">
    <div class="error-pagebox">
        <p class="text-danger text-center">
            <span class="error-font—l"><i class="fa fa-warning "></i> 500</span><br/>
            <span class="error-font-i">系统错误</span></p>
        <p class="link-black text-center">非常抱歉系统发生错误建议您检查一下再试</p>
        <p class=" text-center"><a class="btn btn-warning"  href="javascript:history.go(-1);">返回上一页</a></p>
    </div>
</div>
</@layout>